@import 'fonts.css';

body, p, h3, h2, h1 {
    margin: 0;
}

body > .content > div {
    margin: 0 auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 70px 0;
}

.separator {
    width: 50px;
    height: 2px;
    opacity: 0.3;
    background-color: #413d4b;
}

h2 {
    font-family: 'PlayfairDisplay-Bold', sans-serif;
    font-size: 22px;
    color: #413d4b;
}

.learn-button {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 3px;
    border: solid 1px #00e0d0;
    font-family: 'HammersmithOne-Regular', sans-serif;
    font-size: 16px;
    color: #00e0d0;
    cursor: pointer;
}

.content .face-page {
    align-items: normal;
    padding: 15px 0 0 0;
    background-image: url(../Next_page_images/Background/forest.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    height: 60vh;
}

.face-page .background-color {
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #09052f, #311d5e);
    opacity: 0.85;
    position: absolute;
    z-index: 0;
}

.face-page .face-content {
    width: 60vw;
    margin: 0 auto;
    z-index: 0;
}

.face-page .logo img {
    height: 50px;
}

.face-page .separator {
    background-color: #00e0d0;
    opacity: 1;
    margin: 20px 0 30px 0;
}

.face-page .face-content .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 50px);
}

.face-content .slide h1 {
    font-family: 'PlayfairDisplay-Black', sans-serif;
    font-size: 32px;
    letter-spacing: 0.32px;
    color: white;
}

.face-content .slide p {
    text-align: center;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: white;
    margin-bottom: 50px;
}

.content .our-story {
    padding-bottom: 161px;
}

.our-story .story {
    position: relative;
    width: 100%;
}

.our-story img {
    width: 235px;
    top: -30px;
    float: left;
    position: relative;
}

.our-story .p {
    position: absolute;
    width: calc(30vw + 62.875px);
    right: 0;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.42px;
    color: rgba(66, 61, 75, 0.75);
}

.our-story .p p:first-of-type {
    padding: 25px 0 20px 0;
}

.our-story .p .learn-button {
    margin-top: 30px;
    position: absolute;
    left: 2.875px;
}

.content .video {
    background-image: url(../Next_page_images/Background/put-your-image-here@3x.png);
    background-size: cover;
    width: 100%;
    position: relative;
    height: 60vh;
    justify-content: center;
    padding: 0;
}

.video .background-color {
    position: absolute;
    background-image: linear-gradient(to right, #09052f, #311d5e);
    opacity: 0.85;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.video .video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.video img {
    height: 100px;
    cursor: pointer;
}

.video p {
    margin-top: 30px;
    font-family: 'Roboto-Black', sans-serif;
    font-size: 16px;
    color: white;
}

.video iframe {
    height: 7000px;
    width: 90vh;
    display: none;
    z-index: 1;
}

.content .expertise {
    padding: 70px 0 100px 0;
}

.expertise > p {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 14px;
    color: rgba(47, 45, 53, 0.75);
    padding: 15px 0;
}

.expertise .ex-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.expertise .ex-blocks .ex {
    width: calc((100% - 100px) / 3);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expertise .ex-blocks .ex img {
    height: 50px;
}

.expertise .ex-blocks .ex p:first-of-type {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 14px;
    color: #413d4b;
    padding: 40px 0 25px 0;
}

.expertise .ex-blocks .ex p:last-of-type {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.75);
}

.connect-block {
    flex-direction: row;
}

.connect-block .giv-us {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content .all-rights {
    width: 100%;
    background-image: url(../Next_page_images/Background/@3x.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.all-rights .background-color {
    position: absolute;
    top: 0;
    background-image: linear-gradient(to right, #09052f, #311d5e);
    opacity: 0.85;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.all-rights .content {
    z-index: 0;
    width: 60vw;
}

.all-rights .rights {
    display: flex;
    justify-content: space-between;
}

.all-rights .rights .logo {
    height: 50px;
}

.all-rights .rights > div {
    width: calc((100% - 100px) / 3);
}

.all-rights .rights p {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.35px;
    color: white;
}

.all-rights .rights h3 {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.75px;
    color: white;
    margin: 12px 0;
}

#subscribe {
    float: left;
    border: solid 1px rgba(255, 255, 255, 0.5);
    outline: none;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0);
    width: 70%;
    height: 45px;
    box-sizing: border-box;
}

#subscribe::placeholder, #subscribe {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: rgba(255, 255, 255, 0.75);
}

.sub-form {
    display: flex;
    justify-content: space-between;
}

.bt {
    float: left;
    width: 25%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.bt img {
    height: 25px;
    position: relative;
    left: calc(50% - 12.5px);
    cursor: pointer;
}

@media screen and (min-height: 100vw){
    .video iframe {
        width: 100%;
        height: 90vw;
    }
}